
.login{
    padding-top:50px;
    padding-bottom:50px;
    background:white;
    text-align:center;
}

.login h3{
    color:orange;
    font-size:20px;
    font-weight:600;
}

.divider-box{
    display:flex;
    justify-content: center;
}
.login-page-divider{
    width:2px;
    min-height:300px;
    background:rgb(230, 229, 229);
}

.login_login-side{
    width:440px !important;
    padding-left:50px;
    padding-right:50px;
}
.login_login-side form{
    
    margin:auto;
    display:flex;
    flex-direction: column;
}

.login_login-side .logiput{
    display:flex;
    flex:1;
    font-size:13px;
    box-sizing: border-box;
    margin-top:20px;
}

.login-button{
    width:100%;
    margin-top:10px !important;
    margin-bottom:10px !important;
    padding:10px !important;
}
.login-basic{
    background:orange !important;
}

.login_reg-side{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}