* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
.no-dec{
  text-decoration: none !important;
}

.App {
  font-family: sans-serif;
}

body {
  background: rgb(240, 240, 240);
}

button:active, button:focus{
  outline:none !important;
}

Link button:hover{
  text-decoration:none !important;
}

.bg-orange{
  background:orange
}

.remove-def-styles{
  text-decoration:none;
  color:black;
  
}